In [3]:
%%time
import os
import numpy as np
import pandas as pd
# 数据预处理
from sklearn.preprocessing import StandardScaler

CPU times: user 26 µs, sys: 4 µs, total: 30 µs
Wall time: 42.2 µs

In [4]:
file_name = 'train_citrullination_1501.csv'

In [5]:
file_path = os.path.join(os.path.abspath('datasets'), file_name)

In [7]:
df = pd.read_csv(file_path)

In [8]:
df.head()

,label,PseAAC1,PseAAC2,PseAAC3,PseAAC4,PseAAC5,PseAAC6,PseAAC7,PseAAC8,PseAAC9,...,AAIndex611,AAIndex612,AAIndex613,AAIndex614,AAIndex615,AAIndex616,AAIndex617,AAIndex618,AAIndex619,AAIndex620
0,pos,0.000,1.547,3.095,3.095,0.000,0.000,0.0,0.000,6.189,...,4.6,0.01,5.0,3.89,-3.6,-1.01,6.75,3.20,5.86,0.06
1,pos,2.078,0.000,0.000,0.000,3.118,4.157,0.0,1.039,0.000,...,8.1,0.38,7.6,-0.67,7.3,0.31,8.63,1.79,7.99,-0.43
2,pos,8.860,0.000,3.544,5.316,0.000,0.000,0.0,3.544,1.772,...,8.1,0.38,7.6,-0.67,7.3,0.31,8.63,1.79,7.99,-0.43
3,pos,1.595,0.000,1.595,1.595,0.000,0.000,0.0,1.595,7.973,...,4.7,0.18,5.4,-1.75,5.1,0.72,6.28,2.45,4.95,0.28
4,pos,0.000,3.919,0.000,0.000,0.000,3.919,0.0,5.878,0.000,...,7.3,0.22,7.2,0.10,-4.1,-0.04,8.53,1.82,6.84,-0.23

In [11]:
X = df.iloc[:, 1:].values

In [14]:
y = df.iloc[:, 0].map(lambda x: 1 if x=='pos' else 0)

In [16]:
# 标准化
scale = StandardScaler()

In [17]:
X = scale.fit_transform(X)

In [20]:
# 不同 Class 统计 (根据 Target 列)
print("Dataset shape: ", X.shape, " Number of features: ", X.shape[1])
num_categories = np.unique(y).size
sum_y = np.asarray(np.unique(y.astype(int), return_counts=True))
df_sum_y = pd.DataFrame(sum_y.T, columns=['Class', 'Sum'], index=None)
df_sum_y

Dataset shape:  (1577, 1501)  Number of features:  1501

   Class   Sum
0      0  1501
1      1    76

In [34]:
df_neg = df.loc[76:]
df_pos = df.loc[0:75]

In [31]:
# 负样本抽样
df_neg_sampled = df_neg.sample(frac=0.15, replace=False, random_state=0)

In [41]:
df_new = pd.concat([df_pos, df_neg_sampled])

In [45]:
df_new['label'] = df_new['label'].map(lambda x: 1 if x=='pos' else 0)

In [47]:
X_new = df_new.iloc[:, 1:].values
y_new = df_new.iloc[:, 0].values

In [48]:
X_new = scale.fit_transform(X_new)

In [49]:
std_data = np.concatenate((y_new.reshape(-1, 1), X_new), axis=1)

In [51]:
df_new_std = pd.DataFrame(data=std_data, columns=df_new.columns)

In [53]:
# 不同 Class 统计 (根据 Target 列)
print("Dataset shape: ", df_new_std.iloc[:, 1:].shape, " Number of features: ", len(df_new_std.columns)-1)
num_categories = np.unique(y_new).size
sum_y = np.asarray(np.unique(y_new.astype(int), return_counts=True))
df_sum_y = pd.DataFrame(sum_y.T, columns=['Class', 'Sum'], index=None)
df_sum_y

Dataset shape:  (301, 1501)  Number of features:  1501

   Class  Sum
0      0  225
1      1   76

In [55]:
# 输出到文件
%time df_new_std.to_csv('train_citrullination_standard_1501_resampled.csv', index=False)

CPU times: user 930 ms, sys: 27.4 ms, total: 957 ms
Wall time: 964 ms