In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("d://datasets//peptide_caps_net.csv", )

In [4]:
print(df)

      Class Samples  f1  f2  f3  f4  f5  f6  f7  f8  ...   f391  f392  f393  \
0         2     NS1   0   0   0   0   0   0   0   0  ...      0     0     0
1         2    NS10   0   0   0   0   0   0   0   0  ...      0     0     0
2         2   NS100   1   0   0   0   0   0   0   0  ...      0     0     0
3         2  NS1000   0   0   0   0   0   0   0   0  ...      0     0     0
4         2  NS1001   0   0   0   0   0   0   0   0  ...      0     0     0
5         2  NS1002   0   0   0   0   0   0   0   1  ...      0     0     0
6         2  NS1003   0   0   0   0   1   0   0   0  ...      0     0     0
7         2  NS1004   0   0   0   0   0   0   0   0  ...      0     0     0
8         2  NS1005   0   0   0   0   0   0   0   0  ...      0     0     0
9         2  NS1006   0   0   0   0   0   0   0   0  ...      0     0     0
10        2  NS1007   0   0   0   0   0   0   0   0  ...      0     0     0
11        2  NS1008   0   1   0   0   0   0   0   0  ...      0     0     0
12        2  NS1009   0   0   0   0   0   0   0   0  ...      0     0     0
13        2   NS101   0   0   0   0   0   0   0   1  ...      0     0     0
14        2  NS1010   0   0   0   0   0   0   0   0  ...      0     0     0
15        2  NS1011   0   0   0   0   0   0   0   0  ...      0     1     0
16        2  NS1012   0   0   0   0   0   0   0   0  ...      0     1     0
17        2  NS1013   0   0   0   0   0   0   0   0  ...      0     0     0
18        2  NS1014   0   0   0   0   0   0   0   0  ...      0     0     0
19        2  NS1015   0   0   0   0   0   0   0   0  ...      0     0     0
20        2  NS1016   0   0   0   0   0   0   0   0  ...      0     0     0
21        2  NS1017   0   0   0   0   0   0   0   0  ...      0     0     0
22        2  NS1018   0   0   0   0   0   0   0   0  ...      1     0     0
23        2  NS1019   0   0   0   0   0   0   0   0  ...      0     0     0
24        2   NS102   1   0   0   0   0   0   0   0  ...      0     0     0
25        2  NS1020   0   0   0   0   0   0   0   1  ...      0     0     0
26        2  NS1021   0   0   0   0   0   0   0   0  ...      1     0     0
27        2  NS1022   1   0   0   0   0   0   0   0  ...      0     0     0
28        2  NS1023   0   0   0   0   0   0   0   0  ...      0     0     0
29        2  NS1024   0   0   0   0   0   0   0   0  ...      0     0     0
...     ...     ...  ..  ..  ..  ..  ..  ..  ..  ..  ...    ...   ...   ...
6064      1   PS972   0   0   0   0   1   0   0   0  ...      0     0     0
6065      1   PS973   0   0   0   0   0   0   0   0  ...      0     0     0
6066      1   PS974   0   1   0   0   0   0   0   0  ...      0     0     0
6067      1   PS975   1   0   0   0   0   0   0   0  ...      0     0     0
6068      1   PS976   0   0   0   0   0   0   0   0  ...      0     0     0
6069      1   PS977   0   0   0   0   0   0   0   1  ...      0     0     0
6070      1   PS978   0   0   0   0   0   0   0   0  ...      0     0     0
6071      1   PS979   0   0   0   0   0   0   0   0  ...      0     0     0
6072      1    PS98   0   0   0   0   0   0   0   0  ...      0     0     0
6073      1   PS980   0   0   0   0   0   0   0   0  ...      0     0     0
6074      1   PS981   0   1   0   0   0   0   0   0  ...      1     0     0
6075      1   PS982   1   0   0   0   0   0   0   0  ...      0     0     0
6076      1   PS983   0   0   0   0   0   0   0   0  ...      0     0     0
6077      1   PS984   0   0   0   0   0   0   0   0  ...      0     0     0
6078      1   PS985   0   0   0   0   1   0   0   0  ...      0     0     0
6079      1   PS986   0   1   0   0   0   0   0   0  ...      0     0     0
6080      1   PS987   1   0   0   0   0   0   0   0  ...      0     0     0
6081      1   PS988   0   0   0   0   0   1   0   0  ...      0     1     0
6082      1   PS989   1   0   0   0   0   0   0   0  ...      0     0     0
6083      1    PS99   0   0   0   0   0   0   0   0  ...      0     0     0
6084      1   PS990   0   0   0   0   0   0   0   0  ...      0     0     0
6085      1   PS991   0   1   0   0   0   0   0   0  ...      0     1     0
6086      1   PS992   0   0   0   0   0   0   0   0  ...      0     0     0
6087      1   PS993   0   0   0   0   0   0   0   0  ...      0     0     0
6088      1   PS994   0   0   0   0   0   0   0   0  ...      0     0     0
6089      1   PS995   0   0   0   0   0   0   0   0  ...      0     0     0
6090      1   PS996   0   1   0   0   0   0   0   0  ...      0     0     0
6091      1   PS997   0   1   0   0   0   0   0   0  ...      0     0     0
6092      1   PS998   0   0   0   0   1   0   0   0  ...      0     0     0
6093      1   PS999   0   0   0   0   0   0   0   0  ...      0     0     0

      f394  f395  f396  f397  f398  f399  f400
0        0     0     0     0     0     0     0
1        0     0     0     0     0     0     0
2        0     0     0     0     0     0     0
3        0     0     0     0     0     0     0
4        0     0     0     0     0     0     0
5        0     0     0     0     0     0     1
6        0     0     0     0     0     0     0
7        0     0     0     0     0     0     0
8        0     0     0     0     0     0     0
9        0     0     1     0     0     0     0
10       0     0     1     0     0     0     0
11       0     0     1     0     0     0     0
12       0     0     0     0     0     0     0
13       0     0     1     0     0     0     0
14       0     0     1     0     0     0     0
15       0     0     0     0     0     0     0
16       0     0     0     0     0     0     0
17       0     0     0     0     0     0     0
18       0     1     0     0     0     0     0
19       0     0     0     0     0     0     0
20       1     0     0     0     0     0     0
21       0     0     0     0     0     0     0
22       0     0     0     0     0     0     0
23       0     0     0     0     0     0     0
24       0     0     0     0     0     0     0
25       0     0     0     0     0     0     0
26       0     0     0     0     0     0     0
27       0     0     0     0     0     0     0
28       0     0     0     0     0     0     0
29       0     0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...   ...
6064     0     1     0     0     0     0     0
6065     0     0     0     0     1     0     0
6066     0     0     0     0     0     0     0
6067     0     0     1     0     0     0     0
6068     0     0     0     0     0     0     0
6069     0     0     1     0     0     0     0
6070     0     0     0     0     0     0     0
6071     0     0     0     0     0     0     0
6072     0     0     0     0     0     0     0
6073     0     0     0     0     0     0     0
6074     0     0     0     0     0     0     0
6075     0     0     0     0     1     0     0
6076     0     0     1     0     0     0     0
6077     0     0     1     0     0     0     0
6078     1     0     0     0     0     0     0
6079     1     0     0     0     0     0     0
6080     0     0     0     0     0     0     0
6081     0     0     0     0     0     0     0
6082     0     0     0     0     0     0     0
6083     0     0     0     0     0     0     0
6084     0     0     0     0     1     0     0
6085     0     0     0     0     0     0     0
6086     0     0     0     0     0     0     0
6087     0     0     0     0     1     0     0
6088     0     1     0     0     0     0     0
6089     0     0     0     0     0     0     0
6090     0     1     0     0     0     0     0
6091     0     1     0     0     0     0     0
6092     0     0     0     0     0     0     1
6093     0     0     0     0     0     0     0

[6094 rows x 402 columns]

In [5]:
print(df['Class'])

0       2
1       2
2       2
3       2
4       2
5       2
6       2
7       2
8       2
9       2
10      2
11      2
12      2
13      2
14      2
15      2
16      2
17      2
18      2
19      2
20      2
21      2
22      2
23      2
24      2
25      2
26      2
27      2
28      2
29      2
       ..
6064    1
6065    1
6066    1
6067    1
6068    1
6069    1
6070    1
6071    1
6072    1
6073    1
6074    1
6075    1
6076    1
6077    1
6078    1
6079    1
6080    1
6081    1
6082    1
6083    1
6084    1
6085    1
6086    1
6087    1
6088    1
6089    1
6090    1
6091    1
6092    1
6093    1
Name: Class, Length: 6094, dtype: int64

In [12]:
print(df.values[:,0])

[2 2 2 ... 1 1 1]

In [13]:
labels = df.values[:,0]

In [14]:
features = df.values[:,2:]

In [15]:
print(features)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [0 1 0 ... 0 0 0]
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 0]]

In [19]:
features.shape[0]

6094

In [20]:
new_features = features.reshape((features.shape[0], 20, 20))

In [21]:
new_features.shape

(6094, 20, 20)

In [22]:
new_features[0]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
      dtype=object)

In [23]:
features.sum

In [24]:
dataset = (labels, new_features)

In [25]:
dataset.shape

AttributeError: 'tuple' object has no attribute 'shape'

In [26]:
len(dataset)

2

In [27]:
dataset.count